__pycache__/

/.vscode

# These are folders created for distribution. I haven't gotten a confirm or deny
# on whether I should track these or not. My gut says they shouldn't be tracked
# so that's what is happening.
/dist
/build
/BLSTController.egg-info